@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
  }
  #root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 60s linear infinite;
}

.pause-marquee:hover .animate-marquee {
  animation-play-state: paused;
}
